# compiled output
/dist
/node_modules
/tsconfig.tsbuildinfo

# Logs
yarn-error.log*

# IDE - VSCode
.vscode/*
!.vscode/settings.json

# Prisma
/prisma/migrations

# Package
yarn.lock

# Project related
/instances/*
!/instances/.gitkeep
/test/
/conn.yml
.env
